@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
    background : linear-gradient(rgba(12,186,103,1) 0%, rgba(251,232,115,1) 100%);
}

body {
    margin: 0px;
    font-size: 10px;
}

/* ----------- Navbar1.jsx ----------- */

.navbar1 {
    display: flex;
}

.titles{
    font-family: 'KOTRAHOPE';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 3.5rem 0 1rem 0;

    margin-left: 7rem;
}

.title {
    font-size: 5rem;
}
.sub {
    font-size: 2rem;
}

#help {
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    position: relative;
    top: 15%;
    margin-right: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

/* ----------- Welcome.jsx ----------- */

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 2rem;

}
.smile {
    height: 30em;
}

.loginbuttons {
    display: flex;
    flex-direction: column;
}

#register {
    cursor: pointer;

    width: 27rem;
    height: 4rem;

    margin-bottom: 0.5rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}
#login {
    cursor: pointer;

    width: 27rem;
    height: 4rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

/* ----------- Help.jsx ----------- */

.help {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,1) 0%, rgb(197, 197, 197) 100%);
}

#close {
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    float: right;
    position: relative;
    top: 4%;
    right: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

.introduce {
    width: 50rem;
    line-height: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text {
    margin: 0;
}

#from {
    float: right;
}