@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* colors */
/* 기본 검정색 텍스트 #101010 */
/* placeholder 텍스트 #9f9f9f */

html {
    width: 100vw;
    height: 100vh;
    background : linear-gradient(rgba(12,186,103,1) 0%, rgba(251,232,115,1) 100%);
}

body {
    margin: 0px;
    font-size: 10px;
}

/* ----------- Navbar1.jsx ----------- */

.navbar1 {
    display: flex;
}

.titles{
    font-family: 'KOTRAHOPE';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 3.5rem 0 1rem 0;

    margin-left: 7rem;
}

.title {
    font-size: 5rem;
}
.sub {
    font-size: 2rem;
}

#help {
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    position: relative;
    top: 15%;
    margin-right: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

/* ----------- Welcome.jsx ----------- */

.welcome{
    height: 100%;
    width: 100%;
}
.welcomebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin-top: 2rem;
}
.smile {
    height: 30em;
}

.loginbuttons {
    display: flex;
    flex-direction: column;
}


#register {
    cursor: pointer;

    width: 27rem;
    height: 4rem;

    margin-bottom: 0.5rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}
#register:hover {
    background: radial-gradient(circle, rgba(228,227,219,1) 0%, rgba(178,176,161,1) 100%);
    color: #101010;
    outline: 0.1rem dashed #101010;

}

#login {
    cursor: pointer;

    width: 27rem;
    height: 4rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}
#login:hover {
    background: radial-gradient(circle, rgba(228,227,219,1) 0%, rgba(178,176,161,1) 100%);
    color: #101010;
    outline: 0.1rem dashed #101010;

}

/* ----------- Help.jsx ----------- */

.help {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,1) 0%, rgb(197, 197, 197) 100%);
    animation: help-show 0.3s; /* 스르륵 열리는 효과 */
    overflow: hidden;
}

#close {
    cursor: pointer;

    width: 4rem;
    height: 4rem;

    float: right;
    position: relative;
    top: 4%;
    right: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

.introduce {
    width: 50rem;
    line-height: 3rem;

    font-family: 'KOTRAHOPE';
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text {
    margin: 0;
}

#from {
    float: right;
}

@keyframes help-show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* ----------- Register.jsx ----------- */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 4rem;
}

.tab-header {
    height: 4rem;
    line-height: 4rem;
    width: 27rem;
    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

#register-tab {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: #35342C;
    color: white;
}
#login-tab {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-decoration: none;
    color: #101010;
    background-color: #B2B0A1;
    
}

.tab-header #login-tab, #register-tab {
    width: 50%; /* tap-header width의 50% */
    float: left;
    text-align: center;
    cursor: pointer;
}

.tab-content {
    width: 27rem;
}

.form-element {
    padding: 1rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    
    font-family: 'KOTRAHOPE';
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}

#subtitle {
    margin: 0px;
    margin-bottom: 0.3rem;
}

#input {
    width: 23.75rem;
    height: 2.5rem;
    margin-bottom: 0.6rem;
    padding: 0 0.7rem;

    outline: none;
    border: none;
    border-radius: 0.5rem;

    font-family: 'Pretendard-Regular';
    font-size: 0.8rem;
    color: #101010;
}
#input::placeholder {
    color: #9f9f9f;
}

#register-register {
    margin-top: 0.5rem;
    width: 100%;
    height: 3rem;

    border: none;
    border-radius: 0.8rem;

    outline: 0.1rem dashed rgb(123, 123, 123);
    outline-offset: -0.4rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: white;
    background: radial-gradient(50% 50% at 50% 50%, #57564E 0%, #35342C 100%);
}
#register-register:hover {
    background: radial-gradient(circle, rgba(228,227,219,1) 0%, rgba(178,176,161,1) 100%);
    color: #101010;
    outline: 0.1rem dashed #101010;
}

/* 카카오톡으로 회원가입/로그인 */
#register-login {
    margin-top: 0.5rem;
    width: 100%;
    height: 3rem;

    border: 0.2rem #3B1E1E solid;
    border-radius: 0.8rem;

    font-family: 'KOTRAHOPE';
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #3B1E1E;
    background: radial-gradient(circle, rgba(255,224,59,1) 0%, rgba(250,185,19,1) 100%);}
#register-login img {
    width: 1.3rem;
    margin-right: 0.5rem;
}
#register-login:hover {
    background: radial-gradient(circle, rgba(255,201,45,1) 0%, rgba(255,133,12,1) 100%);
}

/* ----------- Login.jsx ----------- */

#login-register-tab {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    color: #101010;
    background-color: #B2B0A1;

}
#login-login-tab {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-decoration: none;
    background-color: #35342C;
    color: white;
}

.tab-header #login-login-tab, #login-register-tab {
    width: 50%; /* tap-header width의 50% */
    float: left;
    text-align: center;
    cursor: pointer;
}

#pwforgot {
    color: #101010;
    cursor: pointer;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 0.8rem; /*input fontsize랑 같음*/
    margin-top: 1rem;
}
#pwforgot:hover {
    font-weight: 800;
}

/* ----------- pwfind.jsx ----------- */

.pwfind-welcome{
    height: 100%;
    width: 100%;
}

.pwfind-smile {
    height: 30em;
}

.pwfind-loginbuttons {
    display: flex;
    flex-direction: column;
}

/* input창  */
#pwfind {
    margin-bottom: 0.5rem; /*위치*/
    
    width: 27rem; /*크기*/
    height: 4rem;
    
    border: none;
    outline: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 0 0.3rem #35342C inset; /*테두리*/

    text-align: center; /*입력 커서*/
    padding: 0;

    font-family: 'Pretendard-Regular'; /*글꼴*/
    font-size: 1rem;
    color: #101010;
}
#pwfind::placeholder{
    color: #9f9f9f; /*글속성*/
    text-align: center;

    font-family: 'Pretendard-Regular'; /*글꼴*/
    font-size: 1rem;
}


/* ----------- Modal.jsx ----------- */

.modal { /* 모달 전체 */
    background-color: rgba(31, 31, 31, 0.6);

    height: 100%;
    width: 100%;

    display: none;
    position: fixed;
    top: 0;

    z-index: 99;
}

/* 모달 창 */
.modal > section {
    width: 23rem; /* section 가로 크기 */

    padding: 1.5rem 0; /* 모달 창 위,아래 여백 */
    
    margin: 0 auto; /* 수평 가운데정렬 */
    border-radius: 1rem;
    background-color: #101010;

    animation: modal-show 0.3s; /* 스르륵 열리는 효과 */
    overflow: hidden;
}

/* 모달 창 - 상단(text) 영역 */
.modal > section > main { 
    text-align: center;
    white-space: pre-line;
}

#modal-text {
    line-height: 1.5rem; /* 이모지 제외, 텍스트끼리 위,아래 간격 조정 */
    color: white; /* 모달 text color*/
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    letter-spacing: 0.03rem;
}
#modal-emoji {
    font-size: 4rem;
}

#modal-text, #modal-emoji {
    display: block;
    margin-bottom: 0.5rem;
}

.modal button {
    font-size: 1rem;
    font-family: 'Pretendard-Regular';
    color: black;
    background-color: #cecece;
    letter-spacing: 0.1rem;

    width: 5.5rem;
    height: 2rem;

    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}
.modal button:hover {
    background-color: white;
}

footer {
    display: flex;
    justify-content: center; /* footer 영역 안에서 버튼 수평가운데정렬 */
}

.modal.openModal {
    display: flex;
    align-items: center;

    /* 스르륵 열리는 애니메이션 */
    animation: modal-bg-show 0.3s; 
}
@keyframes modal-show {
from {
    opacity: 0;
    margin-top: -50px;
}
to {
    opacity: 1;
    margin-top: 0;
}
}
@keyframes modal-bg-show {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
  }

